html, body {
    background-color: #e0e0dd;
    font-family: 'Inter', 'arial', sans-serif;
    font-size: 1em;
    color: #333;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    background-color: #FFFDF7;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    flex: 1;
}

/* ---------------- */
/* -----Header----- */
/* ---------------- */

header {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFDF7;
}

.logo {
    height: 19px;
    width: 124px;
    margin-left: 100px;
}

nav {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 100px;
}

nav div {
    display: flex;
    gap: 50px;
}

nav a, footer a {
    font-size: .875em;
    text-decoration: none;
    font-weight: 400;
    color: #333;
    transition: color 300ms ease-out, opacity 300ms ease-out;
}

nav a:hover, footer a:hover {
    color: #666;
}

footer {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #FFF;
    gap: 50px;
    flex-shrink: 0;
}

footer div {
    margin-right: 100px;
    display: flex;
    gap: 50px;
}

.welcome {
    height: 750px;
    background-color: #E8F0E3;
    display: flex;
    align-items: start;
}

.welcome .bloc1 {
    padding: 185px 170px 0 170px;
}

.welcome .bloc1 h2 {
    font-size: 4em;
    color: #333;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome .bloc1 p {
    font-size: 1.125em;
    font-weight: 300;
}

.welcome img {
    object-fit: none;
    height: 750px;
    width: 730px;
    object-position: -30px -230px;
}

.products {
    background-color: #FFFDF7;
}

.products h1 {
    font-size: 0.875em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 90px;
    margin: 0;
    padding-left: 100px;
}

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 480px;
    margin: 0;
    text-align: center;
}

.card img {
    margin: auto;
}

.card h3 {
    margin-top: 40px;
    font-size: 1em;
    font-weight: 600;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
}

.card .desc {
    margin-top: 8px;
    font-size: .875em;
    font-weight: 400;
    color: #666;
    padding-left: 30px;
    padding-right: 30px;
}

.card .price {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: .875em;
    font-weight: 400;
    color: #333;
}

.card p {
    margin: 0;
}

.card a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #FFFDF7;
    color: black;
    cursor: pointer;
    width: 100%;
    height: 77px;
    font-size: .875em;
    transition: background-color 300ms ease-out, opacity 300ms ease-out;
}

.card a:hover {
    background-color: #333;
    color: #FFFDF7;
}

.about1 {
    background-color: #EBE3D3;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.about1 div {
    padding: 0 0 40px 40px;
    width: 425px;
}

.about1 h2 {
    font-size: 1.25em;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
}

.about1 p {
    font-size: .875em;
    font-weight: 300;
}


.about1 img {
    height: 646px;
    object-fit: cover;
    flex-shrink: 0;
    margin-left: 20px;
}

.about2 {
    background-color: #E8F0E3;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
}

.about2 div{
    padding: 0 40px 40px 0;
    width: 465px;
}

.about2 h2 {
    font-size: 1.25em;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
}

.about2 p {
    font-size: .875em;
    font-weight: 300;
}

.about2 img {
    height: 646px;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 20px;
}

.product {
    background-color: #FFFDF7;
    display: flex;
    width: 100%;

}

.product img {
    flex: 0 0 50%;
    max-width: 52%;
    object-fit: cover;
}

.product .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 465px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 50px;
}

.product .details {
    text-align: left;
}

.details h1 {
    font-size: 1.25em;
    font-weight: 500;
    margin-top: 90px;
}

.details h4 {
    font-size: .625em;
    font-weight: 400;
    color: #666;
    margin-top: 50px;
}

.details p.price {
    font-size: 1.875em;
    font-weight: 300;
    margin-top: 24px;
    color: #333;
}

.details p {
    font-size: .875em;
    font-weight: 400;
    color: #666;
    margin-top: 10px;
}

.info a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0;
    background-color: #565656;
    color: white;
    cursor: pointer;
    font-size: .875em;
    height: 77px;
    transition: background-color 300ms ease-out, opacity 300ms ease-out;
}

.info a:hover {
    background-color: black;
}


.login {
    background-color: #FFFDF7;
    display: flex;
    width: 100%;
}

.login img {
    flex: 0 0 50%;
    max-width: 52%;
    object-fit: cover;
}

.login .form {
    flex: 1;
    /*
    display: flex;
    flex-direction: column;
    */
    max-width: 479px;
    margin: 0 auto;
}

.login form {
    margin-top: 10px;

}

.login .form h1 {
    font-size: 1.25em;
    font-weight: 500;
    margin-top: 90px;
}

.login .form label {
    margin-top: 30px;
    display: block;
    font-size: .875em;
    font-weight: 400;
    color: #666;
}

.login .form input {
    height: 45px;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #666;
    margin-top: 10px;
    background-color: #FFFDF7;
    font-size: 1.1em;
    font-weight: 300;
    color: black;
}

.login .form p {
    text-align: center;
    margin-top: 30px;
}

.login .form a {
    font-size: .875em;
    font-weight: 400;
    color: #666;
    text-decoration: none;
    transition: color 300ms ease-out, opacity 300ms ease-out;
}

.login .form a:hover {
    color: #333
}

.login .form a.button {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #565656;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    font-size: .875em;
    height: 77px;
    transition: background-color 300ms ease-out, opacity 300ms ease-out;
}

.login .form a.button:hover {
    background-color: black;
}


.signin {
    background-color: #FFFDF7;
    display: flex;
    width: 100%;
}

.signin img {
    flex: 0 0 50%;
    max-width: 52%;
    object-fit: cover;
}

.signin .form {
    flex: 1;
    max-width: 479px;
    margin: 0 auto;
}

.signin h1 {
    font-size: 1.25em;
    font-weight: 500;
    margin-top: 90px;
}

.signin .subtitle {
    margin-top: 10px;
    font-size: .75em;
    font-weight: 400;
    color: #666;
}

.signin .stdlabel {
    margin-top: 25px;
    display: block;
    font-size: .875em;
    font-weight: 400;
    color: #666;
}

.signin input[type=text],
.signin input[type=email],
.signin input[type=password] {
    height: 45px;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #666;
    margin-top: 10px;
    background-color: #FFFDF7;
    font-size: 1.1em;
    font-weight: 300;
    color: black;
}


.signin form + p {
    text-align: center;
    margin-top: 10px;
}

.signin form + p a {
    font-size: .875em;
    font-weight: 400;
    color: #666;
    text-decoration: underline;
    transition: color 300ms ease-out, opacity 300ms ease-out;
}

.signin .form a:hover {
    color: #333
}

.signin button {
    display: flex;
    border: 0;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #565656;
    color: white;
    cursor: pointer;
    margin-top: 50px;
    font-size: .875em;
    height: 77px;
    transition: background-color 300ms ease-out, opacity 300ms ease-out;
}

.signin button:hover {
    background-color: black;
}

.cgu {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 30px;
}

.cgulabel {
    order: 2;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.cgubox {
    order: 1;
    appearance: none;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    background-color: #fff;
}

.cgubox:checked {
    background-color: #333;
    border: 1px solid #333;
    outline: 1px solid #fffdf7;
    outline-offset: -2px;
}
}

















.basket {
    background-color: #F7F1EC;
    min-height: calc(100vh - 160px);
}

.basket > div {
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 145px;
    width: 604px;
}

.basket h1 {
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
}

.basket h1 + p {
    font-size: .875em;
    font-weight: 400;
    color: #666;
}

.basket h1 + p span {
    font-size: 1.25em;
}

.basket .item {
    background-color: #FFFDF7;
    padding: 40px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.basket img {
    max-width: 142px;
}

.basket .infos {
margin-left: 55px;
    align-content: center;
}

.basket h3 {
    font-size: .875em;
    font-weight: 600;
    color: black;
    margin: 0;
}
.basket .qty {
    font-size: .875em;
    font-weight: 400;
    color: #666;
    margin-top: 6px;
}
.basket .price {
    font-size: 1.125em;
    font-weight: 500;
    color: #333;
    margin-top: 12px;
    margin-bottom: 0;
}

.basket .total {
    background-color: #FFFDF7;
    padding: 20px 40px;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
}

.basket .total p {
    font-size: .875em;
    font-weight: 500;
    color: #333;
    text-align: right;
    margin: 0;
}

.basket .total p span {
    font-size: 1.5em;
    font-weight: 400;
    color: #333;
}

.basket .total p + p {
    font-size: .75em;
    font-weight: 400;
    color: #666;
}

.basket a.button {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 479px;
    background-color: #565656;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: .875em;
    height: 77px;
    transition: background-color 300ms ease-out, opacity 300ms ease-out;
}

.basket a.button:hover {
    background-color: black;
}

.account {
    background-color: #F7F1EC;
    min-height: calc(100vh - 160px);
    margin: 0 auto;
    padding-bottom: 80px;
}

.account h1 {
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
    padding-top: 45px;
    margin-top: 0;
    margin-bottom: 45px;
}
 .account h2{
     font-size: .875em;
     font-weight: 600;
     color: #000;
     margin: 0 0 30px;
 }

.orders, .api, .delete{
    box-sizing: border-box;
    width: 604px;
    background-color: #FFFDF7;
    padding: 60px;
    margin: 0 auto 15px;
}
 .orders table{
     width: 100%;
     border-collapse: collapse;
     border: none;
 }
tr {
}
td, th {
    border-bottom: 1px solid #ccc;
    font-size: .875em;
    text-align: left;
}
.orders th{
    padding: 0 10px 20px;
    font-weight: 400;
    color: #666;
}
.orders td{
    padding: 20px 10px 30px;
    font-weight: 500;
    color: #333;
}
td:nth-child(1), td:nth-child(2), th:nth-child(1), th:nth-child(2){
    width: auto;
}

th:nth-child(1), td:nth-child(1) {
    width: 35%;
    white-space: nowrap;
}

th:nth-child(3), td:nth-child(3) {
    width: 1%;
    white-space: nowrap;
}

.api a.button, .delete a.button {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #565656;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    height: 77px;
    font-size: .875em;
    transition: background-color 300ms ease-out, opacity 300ms ease-out;
}

.api a.button:hover, .delete a.button:hover{
    background-color: #333;
    color: #FFFDF7;
}

