<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} - Green Goodies{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>
<body>
<div class="wrapper">
    <header>
        <a href="{{ path('app_home') }}" class="logo">
            <img src="{{ asset('images/logo.svg') }}" alt="logo GreenGoodies">
        </a>
        <nav>
            <a href="index.php?action=home" class="">Nos produits</a>
            <div>
                <a href="index.php?action=connectionForm" class="">Panier</a>
                <a href="index.php?action=connectionForm" class="">Commandes</a>
                <a href="index.php?action=connectionForm" class="">Connexion</a>
            </div>
        </nav>
    </header>
    {% block body %}{% endblock %}
</div>
<footer>
    <div>
        <a href="index.php?action=mentions" class="">CGU</a>
        <a href="index.php?action=home">© GreenGoodies - 2024</a>
    </div>
</footer>
</body>
</html>
